.Home {    
    color:white;
    margin-bottom: 2rem;
    .socials{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        a, a:visited, a:active {
            color: inherit;
            text-decoration: inherit;
            cursor: pointer ; 
            font-size: 2rem;
            margin: 2rem 0;
        }  
    }
    h1,h2{
        font-size: 2rem;
    }
    .intro, .home-certs,.home-projects{
        
        font-family: InterBureauTitle;  
        h1{
            font-size: 4.5rem; 
            span{
                color: orange; 
                animation: hover 4s ease-in-out infinite forwards ;
                font-family: Azonix;
            }
        }
        p{
            font-size: 2rem;
            cursor: pointer;  
        }
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:1200px;
    }

    .light{
        background: #111;
        color: white;
    }
    .home-projects{
        display: flex; 
        justify-content: space-evenly;    
        height:900px;
        .text{    
            h1{ 
                margin-top: 0;
                margin-bottom: 6rem;
            }
        }
        img{  
            border-radius: 50px;
            width: 50vw;
            min-width: 420px;
        }
    } 
    .home-certs{ 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; 
        height:900px;
        .thumbnails{ 
            p{
                font-size: 1rem;
                font-family: Roboto;
            }
        }
    }
}

@media screen and (max-width:1400px) {
    .Home{ 
        .home-projects{
            display: block;
        } 
    }
} 
@keyframes hover {
    0%{
        color: orange; 
    }
    50%{
        color: #111;
        filter: drop-shadow(0px 0px 3px crimson); 
    }
    100%{
        color: orange; 
    }
}