.Skills {
    display: flex; 
    position: relative;
    .skillbar{ 
        display: flex;
        position: absolute;
        // justify-content: space-evenly;
        overflow-x: hidden;
        width: 100%;
        .skillrow{
            display: flex;
            animation: scroll 40s linear infinite backwards; 
            .skillbadge{ 
                margin-right: 3rem;  
                text-align: center;
                width: 150px;
                font-family: Merula;
                h1{ 
                    font-weight: lighter;
                    opacity: 0;
                    transform: translateY(30px); 
                    transition:  0.5s ease;
                }
                &:hover h1{
                    opacity: 1;
                    transform: translateY(0px);
                    transition: 0.5s ease; 
                }
                img {
                    width: 75px; 
                } 
            }
        }  
    }
}

@keyframes scroll {
    0% {
        transform: translate(-100%);
      }
    
      100% {
        transform: translate(0%);
      }
} 


