.CustomNav { 
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    font-family: Azonix;
    color: gold;  
    .logo {
        color: orange;
        margin: 1rem;
        cursor: pointer;
        transition: 1s;
        &:hover{  
            color: white;
            filter: drop-shadow(0px 0px 3px crimson);
        }
    }
    .links {
        display: flex; 
        flex-wrap: wrap;
        margin:0;
        list-style: none; 
        .nav-btn {
            margin: 1rem 1rem 1rem 0;
            cursor: pointer;  
            transition: 0.8s;
            &:hover{
                color: white; 
                filter: drop-shadow(0px 0px 3px crimson);
            }
        }
    }
    .burger{
        display: none;
        margin: 1rem 1rem 1rem 0;
        cursor: pointer; 
        .drop{   
            transition: transform 1s ease-in-out;
            .nav-btn{
                transition: 1s;
                &:hover{
                    color: white; 
                    filter: drop-shadow(0px 0px 3px crimson);
                }
            }
        }  
    }
} 

@media screen and (max-width:1200px) {
    .CustomNav{ 
        .logo{
            height: 3rem;
        }
        .links{
            display: block;
            .nav-btn{
                display: none; 
            } 
        }
        .burger{
            display: flex;  
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            .drop {
                position: absolute;   
                z-index: 1001;
                background-color: black;
                border-radius: 5px;
                border: 1px solid gold;
                .nav-btn{
                    padding: 6px;
                    border: 1px solid gold;
                }
            }
        }
    }
}