.Socials{
    position: fixed;
    bottom: 2%; 
    display: flex;  
    justify-content: space-evenly; 
    align-items: flex-end; 
    flex-wrap: wrap;
    width: 100%; 
    a, a:visited, a:active,a:-webkit-any-link {
        color: inherit;
        text-decoration: inherit;
        cursor: pointer ;   
        &:hover span{
            transition: all 0.8s ease-in-out; 
            transform: translate(0,-50%);
            opacity: 1; 
        }
        img{
            width: 100%;
        } 
    } 
    span{
        font-family: Roboto;
        transition: 1s ease-in-out;
        transform: translate(0,50%);
        font-size: 1.5rem;   
        opacity: 0;   
        width: 20%; 
        white-space: nowrap;  
        display: block;
    } 
}

@media screen and (max-width:755px) {
    .Socials{  
        flex-wrap: nowrap;
        span{
           display: none;
        }
    }
}