.App {
  text-align: center;
  min-height: 100vh; 
  color: white;  
  overflow: hidden;
} 
body {
  background-color: black;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
} 
html{
  background-color: black !important; 
}
* { 
  scrollbar-color: orange black; 
 }
/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: orange; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8533; 
}
@font-face {
  font-family: Azonix;
  src: url("./helpers/fonts/Azonix-1VB0.otf");
} 
@font-face {
  font-family: Merula;
  src: url("./helpers/fonts/Merula\ Regular.otf");
} 
@font-face {
  font-family:InterBureau;
  src: url("./helpers/fonts/interbureau.ttf");
} 
@font-face {
  font-family:InterBureauTitle;
  src: url("./helpers/fonts/interbureautitle.ttf");
} 
@font-face {
  font-family:InterBureauSemiBold;
  src: url("./helpers/fonts/interbureausemibold.ttf");
} 