.App {
  text-align: center;
  min-height: 100vh; 
  color: white;  
} 
body {
  background-color: black;
  margin: 0;
  padding: 0; 
} 
@font-face {
  font-family: Azonix;
  src: url("./helpers/fonts/Azonix-1VB0.otf");
} 
@font-face {
  font-family: Merula;
  src: url("./helpers/fonts/Merula\ Regular.otf");
} 
@font-face {
  font-family:InterBureau;
  src: url("./helpers/fonts/interbureau.ttf");
} 
@font-face {
  font-family:InterBureauTitle;
  src: url("./helpers/fonts/interbureautitle.ttf");
} 
@font-face {
  font-family:InterBureauSemiBold;
  src: url("./helpers/fonts/interbureausemibold.ttf");
} 